cython
numpy
jupyter
scipy
pandas
nltk
gensim
sklearn
theano
tensorflow
annoy
Keras
ujson
pyyaml
line_profiler
tables
sharedmem
matplotlib
h5py
lxml
sacred
lime
plotly
pprofile
mlxtend
vowpalwabbit
fitter
ipython
ipywidgets
scikit-learn
h5py
hdf5
pillow
scikit-image
tqdm

